/* 
    Document   : todo
    Created on : 2013/07/19, 10:30:38
    Author     : yasunishi
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-repeat   : no-repeat;
}
#container{
    position: relative;
}
#todobody{
    position:absolute;
    top: 0; left: 0;
}
#todoInput {
    width: 300px;
    margin: 20px;
}
#idolimage{
    float:left;    
}
#drop {
    height: 500px;
    border: 1px solid #000000;
}
.todocel{
    background-color: #FFF;
    float:left;
}
.todocel_null{
    float:left;
}

.fusen{
    background-color: #ffcc66;
    -webkit-border-top-left-radius: 10px;  
    -webkit-border-top-right-radius: 10px;  
    -webkit-border-bottom-right-radius: 10px;  
    -webkit-border-bottom-left-radius: 10px;  
    -moz-border-radius-topleft: 10px;  
    -moz-border-radius-topright: 10px;  
    -moz-border-radius-bottomright: 10px;  
    -moz-border-radius-bottomleft: 10px;
    text-align: center;
    border: 1px solid #000000;
    position:absolute;
}

.dragparts,
.dragparts_drop {
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    position: absolute;
}
